@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

body {
    background: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
}

.menu {
    cursor: pointer;
}

.snap {
    position: absolute;
    bottom: 93%;
    left: 50px;
}

.features {
    position: absolute;
    bottom: 94%;
    left: 200px;
    color: hsl(0, 0%, 41%);
}

.arrow-down {
    position: absolute;
    bottom: 30%;
    left: 80px;
}

.company {
    position: absolute;
    bottom: 94%;
    left: 330px;
    color: hsl(0, 0%, 41%);
}

.careers {
    position: absolute;
    bottom: 94%;
    left: 460px;
    color: hsl(0, 0%, 41%);
}

.about {
    position: absolute;
    bottom: 94%;
    left: 570px;
    color: hsl(0, 0%, 41%);
}

.login {
    position: absolute;
    border: none;
    border-radius: 30px;
    background:hsl(0, 0%, 98%);
    height: 40px;
    width: 60px;
    bottom: 93%;
    left: 86%;
    font-size: 17px;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}

.register {
    border-radius: 15px;
    border: black solid 1px;
    height: 40px;
    width: 90px;
    position: absolute;
    bottom: 93%;
    left: 92%;
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    font-size: 17px;
}

.big {
    position: absolute;
    bottom: 9%;
    left: 60%;
    height: 600px;
}

.make {
    position: absolute;
    font-weight: 700;
    font-size: 70px;
    bottom: 50%;
    left: 14%;
}